<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>CountFilter</filter-name>
        <filter-class>com.filter.MyFilter</filter-class>
        <init-param>
            <param-name>count</param-name>
            <param-value>500</param-value>
        </init-param>


    </filter>

    <filter-mapping>
        <filter-name>CountFilter</filter-name>
        <!--注册的路径失败导致报错，少了根路径，导致无法找到。-->
        <url-pattern>/index.jsp</url-pattern>

    </filter-mapping>



</web-app>
